<!DOCTYPE html>
<html>
<head>
  <title>Exercises</title>
  <%= stylesheet_link_tag    "exercises/application", :media => "all" %>
  <%= javascript_include_tag "exercises/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
