<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/140x100" alt="">
    </a>
  </li>
</ul>
