<div id="calendar" class="datepicker calendar pull-left" style="display: block;">
	<div class="datepicker-days" style="display: block;">
		<table class=" table-condensed">
			<thead>
				<tr>
					<th class="dow">Su</th>
					<th class="dow">Mo</th>
					<th class="dow">Tu</th>
					<th class="dow">We</th>
					<th class="dow">Th</th>
					<th class="dow">Fr</th>
					<th class="dow">Sa</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="day old">25</td>
					<td class="day old">26</td>
					<td class="day old">27</td>
					<td class="day old">28</td>
					<td class="day old">29</td>
					<td class="day old">30</td>
					<td class="day old">31</td>
				</tr>
				<tr>
					<td class="day">1</td>
					<td class="day">2</td>
					<td class="day">3</td>
					<td class="day">4</td>
					<td class="day">5</td>
					<td class="day">6</td>
					<td class="day">7</td>
				</tr>
				<tr>
					<td class="day">8</td>
					<td class="day">9</td>
					<td class="day">10</td>
					<td class="day">11</td>
					<td class="day">12</td>
					<td class="day">13</td>
					<td class="day">14</td>
				</tr>
				<tr>
					<td class="day activity active">15</td>
					<td class="day activity">16</td>
					<td class="day activity">17</td>
					<td class="day activity">18</td>
					<td class="day activity">19</td>
					<td class="day activity">20</td>
					<td class="day activity">21</td>
				</tr>						 
				<tr>						 
					<td class="day activity">22</td>
					<td class="day activity">23</td>
					<td class="day activity">24</td>
					<td class="day activity">25</td>
					<td class="day activity">26</td>
					<td class="day activity">27</td>
					<td class="day activity">28</td>
				</tr>
				<tr>
					<td class="day">29</td>
					<td class="day">30</td>
					<td class="day new">1</td>
					<td class="day new">2</td>
					<td class="day new">3</td>
					<td class="day new">4</td>
					<td class="day new">5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>